<main id="main" class="main">
    <div class="pagetitle">
      <h1>Course</h1>
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="index.html">Home</a></li>
          <li class="breadcrumb-item active">Explore Course</li>
        </ol>
      </nav>
    </div>
    
    <div class="container-fluid mt-3">
      <div class="row">
        <h3 class="text-black"><b>Courselist</b></h3>
        <div class="col-md-4">
          <ul class="list-group video-title-list scrollable-list">
            <li 
              class="list-group-item video-title list-hover-effect"
              *ngFor="let course of courses"
              (click)="playVideo(course.link)">
              <i class="bi bi-play-circle me-2"></i> {{ course.title }}
            </li>
          </ul>
        </div>
  
        <div class="col-md-8">
          <div class="ratio ratio-16x9">
            <iframe id="videoPlayer" [src]="safeUrl" title="Video player" allowfullscreen></iframe>
          </div>
        </div>
      </div>
    </div>
  </main>
  