.customCenter {
    padding: 0.2rem;
    justify-content: center;
    display: flex
}

.customImg{
    height: 20vh;
}

.customName{
    padding: 0.5rem;
    font-size: larger;
    width: 15rem;
}

.customDescription{
    font-size: medium;
}