<main id="main" class="main">
    <div class="pagetitle">
      <h1>Courses</h1>
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="index.html">Home</a></li>
          <li class="breadcrumb-item active">Explore Courses</li>
        </ol>
      </nav>
    </div>
  
    <div class="container-fluid">
      <!-- Loading Spinner -->
      <div *ngIf="loading" class="loading-container d-flex flex-column align-items-center justify-content-center">
        <div class="spinner-border" role="status">
          <span class="sr-only"></span>
        </div>
      </div>
  
      <!-- Playlists -->
      <div *ngIf="!loading">
        <div class="row row-cols-1 row-cols-xs-2 row-cols-sm-2 row-cols-lg-4 g-4">
          <div class="col" *ngFor="let playlist of playlists">
            <div class="card shadow-sm">
              <img src="assets/img/playlist.png" class="card-img-top customImg" alt="loading">
              <div class="card-body">
                <div class="clearfix customCenter">
                  <span class="float-start badge bg-dark customName">{{ playlist.name }}</span>
                </div>
                <h5 class="card-title text-center customDescription">{{ playlist.description }}</h5>
                <div class="text-center">
                  <button class="btn btn-warning">View Courses</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      
  
      <!-- Courses for selected playlist -->
      <!-- <div *ngIf="selectedPlaylistId && courses.length > 0">
        <h2>Courses in Selected Playlist</h2>
        <div class="row">
          <div class="col-md-4 mb-4" *ngFor="let course of courses">
            <div class="card">
              <img [src]="course.image" class="card-img-top" alt="{{ course.title }}">
              <div class="card-body">
                <h5 class="card-title">{{ course.title }}</h5>
                <p class="card-text">{{ course.description }}</p>
                <a [href]="course.link" class="btn btn-primary" target="_blank">View Course</a>
              </div>
            </div>
          </div>
        </div>
      </div> -->
    </div>
  </main>
  