.customCenter {
    padding: 0.2rem;
    justify-content: center;
    display: flex
}

.customImg{
    height: 25vh;
}

.customName{
    padding: 0.5rem;
    width: 10rem;
}

.customDescription{
    font-size: medium;
}